* {
    font-family: 'Roboto', sans-serif;
  }
  
  .mushroomList-card-img {
    height: 300px;
  }
  
  .cardTitle {
    color: #323C9A;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .cardDetailTitle {
    color: #323C9A;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .cardTitle:hover,
  .nav-home:hover {
    color: #f6bf08;
  }

  
  