* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  }
  
  .mushroomList-card-img {
    height: 300px;
  }

  .mushroomDet-card-img {
    height: 100%;
  }
  
  .cardTitle {
    color: #323C9A;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .cardDetailTitle {
    color: #323C9A;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .cardTitle:hover,
  .nav-home:hover {
    color: #f6bf08;
  }


  
  